/* Basic styles for body */
body {
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
    background-image: url("/static/images/daria-VtM6-YbXZwY-unsplash.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container to center the form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Styling for the table */
table {
    background-color: goldenrod;
    background-image: url("/static/images/tree7.jpg");
    border-collapse: collapse;
    box-shadow: 10px 10px 15px black, -10px -10px 15px black;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

/* Styling for the form card */
.card {
    padding: 0 70px;
    text-align: left;
    border-radius: 10px;
    /* background-color: #4facfe; */
}

/* Input fields styling */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

/* Input field focus effect */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4facfe;
    box-shadow: 0px 0px 8px rgba(79, 172, 254, 0.5);
    outline: none;
}

/* Label styling */
label {
    font-weight: bold;
    color: white;
}

/* Submit button styling */
.btn {
    background: linear-gradient(to right, rgb(53, 150, 202), rgba(0, 128, 0, 0.651));
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    margin: 20px auto;
    width: 60%;
    text-align: center;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    margin-top: -7px;
    /* box-shadow: 1px 1px 10px black , -1px -1px 10px black; */
}

/* Button hover effect */
.btn:hover {
    background: linear-gradient(to right, rgb(53, 150, 202), rgba(0, 128, 0, 0.651));
    transform: scale(0.9);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 1px 10px black , -1px -1px 10px black;
}

/* Button active effect */
.btn:active {
    transform: scale(0.95);
}
